<header class="site-header py-3">
  <nav class="navbar navbar-expand-lg navbar-dark container nav-glass">
    <a class="navbar-brand brand-logo" href="/">
      <img src="/assets/DM-Logo.png" alt="Daniel Myers Logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/#web-work"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Work
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-glass">
            <li><a class="dropdown-item" href="/web-work/">Web Work</a></li>
            <li><a class="dropdown-item" href="/applications/">Applications</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="/#resume">Resume</a></li>
        <li class="nav-item"><a class="nav-link" href="/#testimonials">Testimonials</a></li>
        <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
      </ul>

      <div class="ms-lg-3 mt-3 mt-lg-0">
        <a class="btn btn-accent" href="/#contact">Hire Me</a>
      </div>
    </div>
  </nav>
</header>
